.challenge1 {
  color: red;
}

.challenge2 {
  color: purple;
}

.challenge3 {
  color: yellow;
}

.challenge4 {
  color: blue;
}

.challenge5 {
  color: green;
}

.challenge6 {
  color: gold;
}

.challenge7 {
  color: orange;
}

.challenge8 {
  color: grey;
}

.challenge9 {
  color: brown;
}

.challenge10 {
  color: violet;
}

.challenge11 {
  color: teal;
}
