.user-box {
  height: 200px;
  line-height: 200px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.user-box:hover {
  background-color: gold;
}

.user-text {
  vertical-align: middle;
  font-size: 2em;
}

.confirmation-text {
  font-size: 2.2em;
}

.user-0 {
  background-color: green;
}

.user-1 {
  background-color: red;
}

.user-2 {
  background-color: darkred;
}
