body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.black {
  background-color: #000;
}

.outer-outer-container {
  background-color: #242b38;
}

.inner-outer-container {
  background-color: #596170;
}
